
#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}
.myimg{

    border-radius: 40%;
    width: 200px;
    
}

.background{

    background-color: rgb(88, 238, 42);
}